/*шапка сайта*/
.heading { 
    background-color: #cccccc;
    color:white;
    text-align: center;
    
    font-size: 40px;
    left:50%;
    padding:0;
    width: 716px;
    height: 55px;
    
    margin-left: -360px;
    
    border:2px solid black;
    position: absolute;
}
/*меню(навигация))*/
nav{
    width: 720px;
    position: absolute;
    top:69px;
    left: 50%;
    margin-left: -360px;
    height: 55px;
    //border: 2px solid black
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.menu{
    position: relative;
    width:100%;
}
ul.menu li{
    font-weight: bold;
    float:left;
    width: 236px;
    position: relative;
    background: #cccccc;
    border:2px solid black;
    border-collapse: collapse;
}
ul.menu li a{
    display: block;
    padding:20px 8px;
    color:white;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    
}
ul.menu li a:hover{
    background: red;
}
.content{
    width: 716px;
    position: absolute;
    height: 700px;
    margin-left: -360px;
    left:50%;
    margin-top: 173px;
    
    border: 2px solid black;
}
.content p{
    padding: 10px;
    font-size: 20px;
    text-align: justify;
}
h1{
    padding: 10px;
    text-align: center;
    font-size:40px;
}
h2{
    padding: 10px;
}

/*заголовок с текстом "Гостевая книга"*/
/*.gbheading { 
    background-color: #cccccc;
    color:white;
    text-align: center;
    top:135px;
    font-size: 40px;
    left:50%;
    width: 716px;
    height: 55px;
    margin-left: -360px;
    
    border:2px solid black;
    position: absolute;
    
    
    
}*/

/*кнопка создания новой записи*/
.newrecord{
    background-color: #cccccc;
    color:black;
    width: 138px;
    height: 50px;
    
    float:right;
    font-size: 11px;
    
}
.newrecord:hover{
    background-color: red;
}
/*див содержащий в себе таблицу*/
.gbcontent {
    position: absolute;
    left:50%;
    margin-top: 168px;
    margin-left:-360px;

}

/*таблица: пользователь-комментарий*/
.records{
    table-layout:fixed;
    border: 2px solid black;
    border-collapse: collapse;
    height: 100px;
    margin: 5px 0px 5px;
    width:720px;
    
    
}
/*ячейка таблицы с именем пользователя*/
.user{
    padding: 5px;
    height: 100%;
    vertical-align: top;
    background-color: #cccccc;
    width: 125px;
    border-collapse: collapse;
    
    text-align: left;
    border: 2px solid black;
    
    
}
/*ячейка таблицы с комментарием*/
.comment{
    padding: 5px;
    vertical-align: top;
    text-align: left;
    
    word-wrap:break-word;
    
    
}

/*окошко с формой для отправки комментария*/
.window {
    margin-left: -360px;
    left:50%;
    top:181px;
    position: absolute;
    width: 696px;
    height: 250px;
    background-color: #cccccc;
    font-size: 20px;
    padding:10px;
    border:2px solid black;
}
/*текстовое поле для комментария*/
.info{
    margin-top: 10px;
    font-size: 20px;
    margin-left: -2px;
}
/*кнопка отправки*/
.send{
    background-color: #cccccc;
    width: 450px;
    height: 40px;
    font-size: 20px;
    border: 1px solid black;
    margin-left: 120px;
    margin-top: 5px;
    
}
.send:hover{
    background-color: red;
}
/*кнопка отправки при регистрации*/
.registersend{
    background-color: #cccccc;
    width: 450px;
    height: 40px;
    font-size: 20px;
    border: 1px solid black;
    margin-left: 120px;
    margin-top: 40px;
}
.registersend:hover{
    background-color: red;
}
/*форма при отправке пустого комментария*/
.sendback{
    width: 300px;
    height: 55px;
    background-color: #cccccc;
    font-size: 15px;
    color: white;
    position:absolute;
    left:50%;
    margin-left: -150px;
    margin-top:225px;
}
.sendback:hover{
    background-color: red;
}

/*блок с регистрацией*/
.registration{
    
    padding: 0;
    background: #cccccc;
    position: absolute;
    margin-left: -360px;
    left:50%;
    margin-top: 127px;
    border: 2px solid black;
    width: 716px;
    height: 40px;
}
.field {
    font-size: 20px;
    margin: 5px 5px 0px 6px; /* top/right/bot/left */
    
    border-color: black;
    float:left;
    
}
.goto{
    float: left;
    padding: 0;
    border: 2px solid black;
    height: 29px;
    width: 110px;
    margin: 5px 0px 0px 8px;
    color: white;
    font-weight: bold;
}
.goto:hover{
    background: red;
}
